  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Expert in the sale, lease, and management of property in the Culver City and West Los Angeles area.">
  <meta name="" content="
    Culver City, 
    Commercial Real Estate, 
    For Sale, 
    For Sale Culver City, 
    Maud Properties, 
    Maud Properties Website,
    Maud Prop, 
    Scott Maudlin,
    Scott Maudlin Maud Properties,
    Culver City Real Estate Broker,
    West Los Angeles Real Estate,
    For Lease,
    For Lease Culver City,
    Commercial Listings,
    Commercial Properties,
    Buy Properties Culver City,
">
  <meta name="author" content="Holden Maudlin">
  <meta name="title" content="Maud Properties">

  <title>Maud Properties</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132960774-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132960774-2');
  </script>
