<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Maud Properties</title>

  <!-- Boot strap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static "home/main.css"%}" rel="stylesheet">
  <!-- Load Humanize -->
  {% load humanize %}
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132960774-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132960774-2');
  </script>
</head>

<body>
  <!--Navigation bar-->
  <div id="nav-placeholder">
    {% include "home/nav.html" with active_tab='Home' %}
  </div>
  <!--end of Navigation bar-->

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Maud Properties</h1>
          <p class="lead mb-5 text-white-50">Expert in the sale, lease, and management of property in the Culver City and West Los Angeles area.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <!-- Featured Property Block -->
    {% if featured_properties|length > 0 %}
      <h2>{{title}}</h2>
      <hr>
      <div class="row">
        {% for prop in featured_properties %}
        <div class="col-md-4 mb-5">
          <div class="card h-100">
          <a href="{{prop.id}}"><img class="card-img-top" src="http://placehold.it/300x200" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">{{prop.address}}</h4>
            <h6 class="card-subtitle" style="margin-bottom: 15px;">{{prop.city}}, {{prop.zipcode}}</h6>
            <span class="card-text">Listing Price:</span> 
            <span class="card-text" style="float: right">${{prop.price|intcomma}} {% if not sale %}/month/{{prop.lease_type}}{% endif %}</span> 
            <br>
            <span class="card-text">Building Size:</span> 
            <span class="card-text" style="float: right">{{prop.building_size|intcomma}}</span> 
            <br>
            <span class="card-text">Lot Size:</span>                        
            <span class="card-text" style="float: right">{{prop.lot_size|intcomma}}</span> 
          </div>
          <div class="card-footer">
            <a href="{{prop.id}}" class="btn btn-primary">Learn More</a>
          </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <!-- ./Featured Property Block -->
    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Story</h2>
        <hr>
        <p>Scott Maudlin, the founder and president of Maud Properties, began his real estate career in 1986. He has been involved in 300+ commercial and industrial sales and 390+ leases. His extensive knowledge of the real estate market, combined with over three decades of experience, consistently provides his clients with exceptional service.</p>
        <p>Please contact Maud Properties for any assistance with your commercial and industrial real estate needs.</p>
        <a class="btn btn-primary btn-lg" href="mailto:smaudlin@maudproperties.com">Inquire Now &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Maud Properties</strong>
          <br>6017 Bristol Parkway 
          <br>Culver City, CA 90230
          <br>
        </address>
        <address>
          <span title="Phone">Phone:</span>
          (310) 553-5222
          <br>
          <span title="Phone">Fax: &emsp; </span>
          (310) 641-6304
          <br>
          <span title="Email">Email: &nbsp;</span>
          <a href="mailto:#">smaudlin@maudproperties.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div id="nav-placeholder">
    {% include "home/foot.html" %}
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>
