container_commands:
    01_migrate:
        command: "python mp/manage.py migrate"
        leader_only: true
    02_collectstatic:
        command: "python mp/manage.py collectstatic --noinput"

option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "mp.settings"
        PYTHONPATH: "$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: "mp/mp/wsgi.py"
        StaticFiles: "/static/=www/static/"

packages:
    yum:
        postgresql95-devel: []
