
.detail-head {
    text-align: right;
}



@media (max-width: 768px) {
    .detail-head {
        text-align: left;
    }

    
}

@media (min-width: 380px) {
    .inquire-button {
        margin-right: 5px;
    }
}

@media (max-width: 380px) {
    .inquire-button {
        margin-right: 10px;
    }
    .see-more-button {
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px; 
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

h4 {
    color: grey
  }

.image-desc {
    font-size: 18pt;
}

.carousel-inner > .carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
  }

img {
    display: block;
    max-width: 1066.666px;;
    max-height:800px;
    width: auto;
    height: auto;
  }

.carousel-inner {
    background-color: black;
}