<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Boot strap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static "home/main.css"%}" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>

<body>
    <!--Navigation bar-->
    <div id="nav-placeholder">
        {% include "home/nav.html" with active_tab='Transactions' %}
    </div>
    <!--end of Navigation bar-->



    <!-- container -->
    <div class="container">
        <!-- title -->
        <h2 style="margin: 0px">{{title}} Properties</h2>
        <h4 style="margin: 0px; color: grey">Showing {{transactions|length}} {{subtitle}}</h4 >
        <hr>
        <!-- ./title -->
        <div class="row">
        {% for prop in transactions %}
            <div class="col-sm">
                {{prop.address}}
            </div>
            {% if forloop.counter|divisibleby:2%}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- /.container -->

    <div id="nav-placeholder">
        {% include "home/foot.html" %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>
